body{
    font-family:"Avenir Next";
    background:#ECF0ED; 
    margin:0;  
}
header{
	font-family:"AvenirNext-DemiBold"; 
	display:block;
	text-decoration: none;
	text-align: center;
}
.CenterLogo{
	width:80%;
	padding-left: 12%;
	padding-top:-2%;
	margin:auto;
}

a{
	margin:auto;
	text-align:center;
	font-family:"AvenirNext-DemiBold";
	color:#196273;
	font-size: 3vw;
	padding: 1vw;
	padding-top:10px;

}

a:hover{
    font-family:"AvenirNext-DemiBoldItalic"; 
    color: #196273;
    text-decoration: none;
}
#active{
	font-family:"AvenirNext-DemiBold";
	color:#4D9AA6;
}

.selfie{
    position: relative; 
    padding-top: 10%; 
    max-width: 35vw;
    max-height: 85vh; 
}

.leaf-branch{
    width:100%;
    height:auto;
    margin-top:-8%;
}

.maker{
    font-family: "Avenir Next";
    color: #16558C;
    font-size: 20px;
    padding-top: 10%;
    text-align: center;
}
.big-text{
    font-family:"AvenirNext-DemiBoldItalic";
    color:#16558c;
    font-size: 45px;
}
.about-content{
  font-family: "Avenir Next";
  color: #16558C;
  text-align:center;
  font-size: 18px;
  padding-top: 2%;
}

.ContactButton{
    position:absolute; 
    float:center;
    background:#FFDE59;
    color: #16558C;
    font-family: "AvenirNext-DemiBold";
    text-align: center;
    font-size: 12px;
    width: 105%;
    margin-top: 5%;
}

.bullet{
    width:100%;
    height:auto;
    padding-top: 45%;
}

.section-content {
    font-family: "Avenir Next";
    color: #16558C;
    font-size: 18px;
    margin-top: -1%;
}

.section-title{
    font-family: "AvenirNext-DemiBoldItalic";
    color: #16558C;
    font-size: 30px;
    padding-top: 15%;
    margin-bottom:none;
}

#footer{
    width: 100%; 
    height: 15vh; 
    background: #ffde59; 
}

.copyright{
    font-family:"AvenirNext-UltraLight";
    color: #16558c;
    width: 25vw;
    font-size: 12px;
    padding-top: 15%;
    padding-left: 25%; 
}


.footer-links{
    font-family:"AvenirNext-Italic";
    font-size: 12px;
    color:#16558C;
    display: block;
    float:right;
    padding-top: 5%;
}
#linkedin{
	margin-right: -25%;
}
#instagram{
    margin-right: -50%;
}
#etsy{
    margin-right: -65%;
}
