body{
    font-family:"Avenir Next";
    background:#ECF0ED; 
    margin:0;  
}
header{
    font-family:"AvenirNext-DemiBold"; 
    color:#196273;
    display:block;
    text-decoration: none;
    text-align: center;
}
.CenterLogo{
    width:80%;
    padding-left: 12%;
    padding-top:-2%;
    margin:auto;
}

a{
    margin:auto;
    text-align:center;
    font-family:"AvenirNext-DemiBold";
    color:#196273;
    font-size: 3vw;
    padding: 1vw;
    padding-top:10px;

}

a:hover{
    font-family:"AvenirNext-DemiBoldItalic"; 
    color: #196273;
    text-decoration: none;
}

#active{
    font-family:"AvenirNext-DemiBold";
    color:#4D9AA6;
}

.sidebar{
    background:#4d9aa6;
    height:100%;
    margin-top: 10%;

}

#sidebar-title{
    font-family:"AvenirNext-DemiBold";
    color: #196273;
    font-size: 1.6vw;
    padding-left:1.5vw;
    padding-right:1.5vw;
}


.sidebar-section{
    font-family:"AvenirNext-DemiBold";
    color: #ecf0ed;
    text-align:center;
    font-size: 2.5vw; 
}

#myname{
    font-size: 3.5vw;
    text-align: center;
    padding: 0;
    padding-top: 2%;
    line-height:100%;
}

.sidebar-subtitle{
    font-family:"AvenirNext-DemiBold";
    color: #196273;
    font-size: 1.8vw; 
    float: center;
    padding-left: .5vw;
    margin-top: -1.5%;
}

.sidebar-content{
    font-family:"Avenir Next";   
    color:#ecf0ed;
    font-size: 1.6vw;
    padding-left: 2vw;
    margin-top: -2%;
    margin-bottom: 3vh;
}

#passion-box{
    padding-top:2%;
    padding-right:2vw;
    margin-top: 10%;
}

#passion-title{
    color:  #196273;
}
.berry-drawing{
    padding: 0;
    padding-left:4.5vw;
}
.education-box{
    width: 120%;
    height: 100%;
    padding: 2vw;
    margin-left: -15%;
    margin-top: 10%;
    background: #ecf0ed;
    border: 4px solid #ffde59;
}

.education-title{
    font-family: "AvenirNext-DemiBold";
    color:#16558c;
    font-size:2.5vw;
    text-align: center;
    padding-top: 2%;
    padding-bottom:2%;
    background: #ffde59;
    width: 110%;
    margin-left:-5%;
    margin-top: -5%;
    position: relative;
}

.education-subtitle{
    font-family: "AvenirNext-DemiBold";
    color:#16558c;
    font-size:2.0vw;
    padding-left: 1.5%;
}

.education-subtitle em{
    font-size: 1.5vw;
    font-family: "AvenirNext-DemiBoldItalic";
    color:#16558c;
}

.education-content{
    font-family: "Avenir Next";
    color:#16558c;
    font-size:1.5vw;
    padding-left: 5%;
    margin-top: -2%; 
}
.work-box{
    width: 120%;
    height: 100%;
    padding: 2vw;
    margin-left: -15%;
    margin-top: 10%;
    background: #ecf0ed;
    border: 4px solid #ffde59;
}

.work-title{
    font-family: "AvenirNext-DemiBold";
    color:#16558c;
    font-size:2.5vw;
    text-align: center;
    padding-top: 2%;
    padding-bottom:2%;
    background: #ffde59;
    width: 110%;
    margin-left:-5%;
    margin-top: -5%;
    position: relative;
}

.work-subtitle{
    font-family: "AvenirNext-DemiBold";
    color:#16558c;
    font-size:2.0vw;
    padding-left: 1.5%;
}
.work-role{
    font-family: "AvenirNext-DemiBoldItalic";
    color:#16558c;
    font-size:1.5vw;
    margin-top: -2%;
    padding-left:5%;
}
.work-date{
    font-family: "AvenirNext-Italic";
    color:#16558c;
    font-size:1.2vw;
    padding-left: 5%;
    margin-top: -2%; 
}

.work-content{
    font-family: "Avenir Next";
    color:#16558c;
    font-size:1.5vw;
    padding-left: 5%;
    margin-top: -2%; 
}

.leadership-box{
    width: 120%;
    height: 100%;
    padding: 2vw;
    margin-left: -15%;
    margin-top: 10%;    
    margin-bottom: 15%;
    background: #ecf0ed;
    border: 4px solid #ffde59;
}

.leadership-title{
    font-family: "AvenirNext-DemiBold";
    color:#16558c;
    font-size:2.5vw;
    text-align: center;
    padding-top: 2%;
    padding-bottom:2%;
    background: #ffde59;
    width: 110%;
    margin-left:-5%;
    margin-top: -5%;
    position: relative;
}

.leadership-subtitle{
    font-family: "AvenirNext-DemiBold";
    color:#16558c;
    font-size:2.0vw;
    padding-left: 1.5%;
}
.leadership-role{
    font-family: "AvenirNext-DemiBoldItalic";
    color:#16558c;
    font-size:1.5vw;
    margin-top: -2%;
    padding-left:5%;
}

.leadership-date{
    font-family: "AvenirNext-Italic";
    color:#16558c;
    font-size:1.2vw;
    padding-left: 5%;
    margin-top: -2%; 
}
.leadership-content{
    font-family: "Avenir Next";
    color:#16558c;
    font-size:1.5vw;
    padding-left: 5%;
    margin-top: -2%; 
}

.button{
    background-color: #ffde59;
    padding: 2px;
    border: none;
    font-family: "AvenirNext-DemiBold";
    color: #16558C;
    box-shadow: none;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.download-button{
    background-color: #ffde59;
    font-family: "AvenirNext-DemiBold";
    font-size: 1.5vw; 
    padding: 10px; 
    box-shadow: none;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-left: -10%;
}
#footer{
    width: 100%; 
    height: 15vh; 
    background: #ffde59; 
}

.copyright{
    font-family:"AvenirNext-UltraLight";
    color: #16558c;
    width: 25vw;
    font-size: 12px;
    padding-top: 15%;
    padding-left: 25%; 
}


.footer-links{
    font-family:"AvenirNext-Italic";
    font-size: 12px;
    color:#16558C;
    display: block;
    float:right;
    padding-top: 5%;
}
#linkedin{
	margin-right: -25%;
}
#instagram{
    margin-right: -50%;
}
#etsy{
    margin-right: -65%;
}