body{
    font-family:"Avenir Next";
    background:#ecf0ed;
    margin:0;
    padding:0; 
    height: 100%;
}

#Background{
  height: 100%;
  margin-left: 8%;

}

.link{
    font-family:"Avenir Next";
    font-size: 2vw;
    color:#16558C;
    float:right;
    padding-top: 25%;
    margin-right: 10%;
}
a:hover{
    font-family:"AvenirNext-DemiBoldItalic"; 
    color: #16558c;
    text-decoration: none;
}
