body{
    font-family:"Avenir Next";
    background:#ffffff;
    margin:0;
    padding:0; 
    height: 100%;
}
.header{ 
    background-color:#16558c;
    width: 100%;
    height:40vw;
}
.container-fluid{
    padding:0;
}
a{ 
    display: block;
    padding-bottom:1%;
    text-decoration: none;
    color: #ECF0ED;
    text-align: center;
}

.link{
    font-family:"AvenirNext-DemiBold";
    font-size: 2.5vw;
    color:#ECF0ED;
    margin-top: 170%;
    padding-top: 185%; 
    padding-bottom:2%;
    margin:auto;
}
a:hover{
    font-family:"AvenirNext-DemiBoldItalic"; 
    color: #ECF0ED;
    text-decoration: none;
}

.active {

    background-image: url(squiggleb.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 75px 10px; 
}

#home{
    margin-left: 10%; 
}

#about{
    margin-right: 10%;
}
.CenterLogo{
    width:100%;
    padding-left: 8%;
    padding-top: 5%;
    margin:auto;

}
.TopSectionHR{
    border:1px solid #ffde59;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;

}

.sidebar{
    background:#4d9aa6;
    height:100%;
    margin-top: -35px;

}

#sidebar-title{
    font-family:"AvenirNext-DemiBold";
    color: #196273;
    font-size: 1.6vw;
    padding-left:1.5vw;
    padding-right:1.5vw;
}


.sidebar-section{
    font-family:"AvenirNext-DemiBold";
    color: #ecf0ed;
    text-align:center;
    font-size: 2.5vw; 
}

#myname{
	font-size: 3.5vw;
	text-align: center;
	padding: 0;
	padding-top: 2vh;
	line-height:5vh;
}

.sidebar-subtitle{
    font-family:"AvenirNext-DemiBold";
    color: #196273;
    font-size: 1.8vw; 
    float: center;
    padding-left: .5vw;
    margin-top: -1.5vh;
}

.sidebar-content{
    font-family:"Avenir Next";   
    color:#ecf0ed;
    font-size: 1.6vw;
    padding-left: 2vw;
    margin-top: -2vh;
    margin-bottom: 3vh;
}

.berry-drawing{
	padding: 0;
	padding-top: 2%;
	height: 20%;

}
.education-box{
    width: 120%;
    height: 100%;
    padding: 2vw;
    margin-left: -10%;
    margin-top: -15px;
    background: #ecf0ed;
    border: 4px solid #ffde59;
}

.education-title{
    font-family: "AvenirNext-DemiBold";
    color:#16558c;
    font-size:2.5vw;
    text-align: center;
    padding-top: 2%;
    padding-bottom:2%;
    background: #ffde59;
    width: 110%;
    margin-left:-5%;
    margin-top: -5%;
    position: relative;
}

.education-subtitle{
    font-family: "AvenirNext-DemiBold";
    color:#16558c;
    font-size:2.0vw;
    padding-left: 1.5%;
}

.education-subtitle em{
    font-size: 1.5vw;
    font-family: "AvenirNext-DemiBoldItalic";
    color:#16558c;
}

.education-content{
    font-family: "Avenir Next";
    color:#16558c;
    font-size:1.5vw;
    padding-left: 5%;
    margin-top: -2vh; 
}
.work-box{
    width: 120%;
    height: 100%;
    padding: 2vw;
    margin-left: -10%;
    margin-top: 10%;
    background: #ecf0ed;
    border: 4px solid #ffde59;
}

.work-title{
    font-family: "AvenirNext-DemiBold";
    color:#16558c;
    font-size:2.5vw;
    text-align: center;
    padding-top: 2%;
    padding-bottom:2%;
    background: #ffde59;
    width: 110%;
    margin-left:-5%;
    margin-top: -5%;
    position: relative;
}

.work-subtitle{
    font-family: "AvenirNext-DemiBold";
    color:#16558c;
    font-size:2.0vw;
    padding-left: 1.5%;
}
.work-role{
    font-family: "AvenirNext-DemiBoldItalic";
    color:#16558c;
    font-size:1.5vw;
    margin-top: -2%;
    padding-left:5%;
}
.work-date{
    font-family: "AvenirNext-Italic";
    color:#16558c;
    font-size:1.2vw;
    padding-left: 5%;
    margin-top: -2vh; 
}

.work-content{
    font-family: "Avenir Next";
    color:#16558c;
    font-size:1.5vw;
    padding-left: 5%;
    margin-top: -2vh; 
}

.leadership-box{
    width: 120%;
    height: 100%;
    padding: 2vw;
    margin-left: -10%;
    margin-top: 10%;	
    margin-bottom: 15%;
    background: #ecf0ed;
    border: 4px solid #ffde59;
}

.leadership-title{
    font-family: "AvenirNext-DemiBold";
    color:#16558c;
    font-size:2.5vw;
    text-align: center;
    padding-top: 2%;
    padding-bottom:2%;
    background: #ffde59;
    width: 110%;
    margin-left:-5%;
    margin-top: -5%;
    position: relative;
}

.leadership-subtitle{
    font-family: "AvenirNext-DemiBold";
    color:#16558c;
    font-size:2.0vw;
    padding-left: 1.5%;
}
.leadership-role{
    font-family: "AvenirNext-DemiBoldItalic";
    color:#16558c;
    font-size:1.5vw;
    margin-top: -2%;
    padding-left:5%;
}

.leadership-date{
    font-family: "AvenirNext-Italic";
    color:#16558c;
    font-size:1.2vw;
    padding-left: 5%;
    margin-top: -2vh; 
}
.leadership-content{
    font-family: "Avenir Next";
    color:#16558c;
    font-size:1.5vw;
    padding-left: 5%;
    margin-top: -2vh; 
}

#footer{
    width: 100%; 
    height: 15vh; 
    background: #ffde59; 
}

.copyright{
    font-family:"AvenirNext-UltraLight";
    color: #16558c;
    width: 25vw;
    font-size: 12px;
    padding-top: 35%;
    padding-left: 25%; 
}

.footer-links{
    font-family:"AvenirNext-Italic";
    font-size: 12px;
    color:#16558C;
    display: block;
    float:right;
    padding-top: 10%;
}

#instagram{
    margin-right: -50%;
}
#etsy{
    margin-right: -65%;

}